html{
    font-size: 18px;    
}

.card {
    margin-top: 1rem;       
}
.card-body {
    font-size: 1.1rem;
}

.row .card{
    border: none;
    margin-bottom: 1rem; 
}

input {
    padding: 0.5rem;
}
input[type='submit'] {
    padding: 1.25rem;
    font-weight: bold;
}
input[type='button']{
    font-size: 90%;
    white-space: normal;
    height: 100%;
}
input.bg-primary[type='button']{
    color: white;
}
td{
    vertical-align: middle;
}
